.discover-img{
    height: 600px;
    width: 1140px;
    margin-right: 30px;
    background-repeat: no-repeat;
    margin-left:50%;
    
}
.discover-p{
    position: relative;
}
.discover-items{
    background:white;
    box-shadow: 0 10px 80px rgba(0, 0, 0, .05);
    position: absolute;
    bottom: 10px;
    left: 50% ;
   width: 550px;
   padding: 45px 50px;
   transform: perspective(400px)  rotateX(0deg);
   opacity: 1;
    transform-origin: top;
    transition: .7s;
    transition-delay: .3s;
    margin-left: 50%;
    .discover-contant{
        span{
            text-transform: uppercase;
            color: #c77a63;
        }
        h3{
            font-size: 50px;
            color: #2B2D42;
            margin: 0px 0px 20px;

        }
    }
}